In [3]:
import pandas as pd

In [4]:
df1 = pd.read_csv("MASTER_DATA1.csv")
df2 = pd.read_csv("MASTE_DATA2.csv")
df3 = pd.read_csv("MASTER_DATA3.csv")

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        940 non-null    int64
 1   ActivityDate              940 non-null    object
 2   TotalSteps                940 non-null    int64
 3   TotalDistance             940 non-null    float64
 4   TrackerDistance           940 non-null    float64
 5   LoggedActivitiesDistance  940 non-null    float64
 6   VeryActiveDistance        940 non-null    float64
 7   ModeratelyActiveDistance  940 non-null    float64
 8   LightActiveDistance       940 non-null    float64
 9   SedentaryActiveDistance   940 non-null    float64
 10  VeryActiveMinutes         940 non-null    int64
 11  FairlyActiveMinutes       940 non-null    int64
 12  LightlyActiveMinutes      940 non-null    int64
 13  SedentaryMinutes          940 non-null    int64
 14  Calories                  940 non-null    int64
 15  Name                      940 non-null    object
dtypes: float64(7), int64(7), object(2)
memory usage: 117.6+ KB

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22099 entries, 0 to 22098
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                22099 non-null  int64
 1   ActivityHour      22099 non-null  object
 2   Calories          22099 non-null  int64
 3   TotalIntensity    22099 non-null  int64
 4   AverageIntensity  22099 non-null  float64
 5   StepTotal         22099 non-null  int64
 6   AssignedName      22099 non-null  object
dtypes: float64(1), int64(4), object(2)
memory usage: 1.2+ MB

In [7]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1088 entries, 0 to 1087
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  1088 non-null   int64
 1   TotalSleepRecords   1088 non-null   int64
 2   TotalMinutesAsleep  1088 non-null   int64
 3   TotalTimeInBed      1088 non-null   int64
 4   Date                1088 non-null   object
 5   WeightKg            1088 non-null   float64
 6   WeightPounds        1088 non-null   float64
 7   Fat                 51 non-null     float64
 8   BMI                 1088 non-null   float64
 9   IsManualReport      1088 non-null   bool
 10  Name                1088 non-null   object
dtypes: bool(1), float64(4), int64(4), object(2)
memory usage: 86.2+ KB

In [8]:
merged_df2_df3 = pd.merge(df2, df3, on='Id', how='inner')

In [9]:
merged_df2_df3.head()

,Id,ActivityHour,Calories,TotalIntensity,AverageIntensity,StepTotal,AssignedName,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport,Name
0,1503960366,4/12/2016 12:00:00 AM,81,20,0.333333,373,Aarav,1,327,346,5/2/2016 11:59:59 PM,52.599998,115.963147,22.0,22.65,True,Aarav
1,1503960366,4/12/2016 12:00:00 AM,81,20,0.333333,373,Aarav,1,327,346,5/3/2016 11:59:59 PM,52.599998,115.963147,NaN,22.65,True,Aarav
2,1503960366,4/12/2016 12:00:00 AM,81,20,0.333333,373,Aarav,2,384,407,5/2/2016 11:59:59 PM,52.599998,115.963147,22.0,22.65,True,Aarav
3,1503960366,4/12/2016 12:00:00 AM,81,20,0.333333,373,Aarav,2,384,407,5/3/2016 11:59:59 PM,52.599998,115.963147,NaN,22.65,True,Aarav
4,1503960366,4/12/2016 12:00:00 AM,81,20,0.333333,373,Aarav,1,412,442,5/2/2016 11:59:59 PM,52.599998,115.963147,22.0,22.65,True,Aarav

In [10]:
merged_df2_df3.to_csv('merged_df2_df3.csv', index=False)